__pycache__/
src/__pycache__/
models/*.pth
data/real_light_curves/
data/diagnostic_plots/
mastDownload/
lightcurve_diagnostic_plot.png
andromeda_stars_spatial_map.png
hcv_stars_spatial_map.png
data/andromeda_real_hcv/
*.pyc
